{%  extends '@Aka/base.html.twig' %}

{% block title %}Mobile Boxoffice{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/aka/css/style.css') }}">
{% endblock %}

{% block body %}
    <iframe id="printBasketIframe" src="" style="display:none; visibility:hidden;"></iframe>
    <div id="dataAccumulator"></div>
    <div id="windowMainDisabled"><table class=""><tr><td></td></tr></table></div>

    <div class="modal fade nonScrollable" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body nonScrollable">

                    <table class="tableCenter tableMaxSize">
                        <tr>
                            <td>

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary normalbtn" id="message_OK_button"  >OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade nonScrollable" id="enterCardNumberModal" tabindex="-1" role="dialog" aria-labelledby="enterCardNumberModal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Card Number</h4>
                </div>
                <div class="modal-body nonScrollable">

                    <table class="tableCenter tableMaxSize">
                        <tr>
                            <td>

                                <table id="cardnumber_table" class="tableCenter">
                                    <tr>
                                        <td colspan="3" class="tdCenter"><input id="card_number" value=""></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default normalbtn" onclick="$('#card_number').focus();">Show Keyboard</button>
                    <button type="button" class="btn btn-primary normalbtn" id="card_OK_button">Validate</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade nonScrollable" id="enterConcessionCodeModal" tabindex="-1" role="dialog" aria-labelledby="enterConcessionCodeModal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Concession Code</h4>
                </div>
                <div class="modal-body nonScrollable">

                    <table class="tableCenter tableMaxSize">
                        <tr>
                            <td>

                                <table id="concessioncode_table" class="tableCenter">
                                    <tr>
                                        <td colspan="3" class="tdCenter"><input id="concession_code" value=""></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default normalbtn" onclick="$('#concession_code').focus();">Show Keyboard</button>
                    <button type="button" class="btn btn-primary normalbtn" id="concession_code_OK_button">Validate</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade nonScrollable" id="enterConcessionPasswordModal" tabindex="-1" role="dialog" aria-labelledby="enterConcessionPasswordModal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Concession Password</h4>
                </div>
                <div class="modal-body nonScrollable">

                    <table class="tableCenter tableMaxSize">
                        <tr>
                            <td>

                                <table id="concessionpassword_table" class="tableCenter">
                                    <tr>
                                        <td colspan="3" class="tdCenter"><input id="concession_pass" value=""></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default normalbtn" onclick="$('#concession_pass').focus();">Show Keyboard</button>
                    <button type="button" class="btn btn-primary normalbtn" id="concession_pass_OK_button">Validate</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade nonScrollable" id="paymentsModal" tabindex="-1" role="dialog" aria-labelledby="paymentsModal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body nonScrollable">

                    <div id="paymentOptionsDiv">


                        <table class="tableCenter tableMaxSize">
                            <tr>
                                <td colspan="2">
                                    Please choose Cash or Card                                </td>
                            </tr>
                            <tr>
                                <td class="tdCenter">
                                    <button type="button" class="btn btn-primary normalbtn" id="cashPaymentSelect">Cash</button>
                                </td>
                                <td class="tdCenter">
                                    <button type="button" class="btn btn-primary normalbtn" id="cardPaymentSelect">Card</button>
                                </td>
                            </tr>
                        </table>


                    </div>


                    <div id="paymentCashDiv">

                        <table class="tableCenter" id='cashMainTable'>
                            <tr>
                                <td>


                                    <table class="tableCenter" id="cashLeftTable">
                                        <tr>
                                            <td>

                                                <table class="tableCenter tableMaxSize" id="cashSummaryTable">
                                                    <tr>
                                                        <td>
                                                            Received                                                            </td>
                                                        <td>
                                                            <input id="cash_received_dec" readonly="">.<input id="cash_received_cent" readonly="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Total                                                            </td>
                                                        <td>
                                                            <input id="cash_order_total_amount_dec" readonly="">.<input id="cash_order_total_amount_cent" readonly="">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Change                                                            </td>
                                                        <td>
                                                            <input id="cash_change_dec" readonly="">.<input id="cash_change_cent" readonly="">
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <table class="tableCenter tableMaxSize" id="cashBankNotesTable">
                                                    <tr>
                                                        <td>
                                                            <input type="text" readonly="" value="0" id="counterBankNote_10">
                                                        </td>
                                                        <td>
                                                            <input type="text" readonly="" value="0" id="counterBankNote_20">
                                                        </td>
                                                        <td>
                                                            <input type="text" readonly="" value="0" id="counterBankNote_50">
                                                        </td>
                                                        <td>
                                                            <input type="text" readonly="" value="0" id="counterBankNote_100">
                                                        </td>
                                                        <td>
                                                            <input type="text" readonly="" value="0" id="counterBankNote_200">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button style="background:url({{ asset('bundles/aka/images/note10.gif') }}) no-repeat;" data-value="10" class="cashimgkeypad"></button>
                                                        </td>
                                                        <td>
                                                            <button style="background:url({{ asset('bundles/aka/images/note20.gif') }}) no-repeat;" data-value="20" class="cashimgkeypad"></button>
                                                        </td>
                                                        <td>
                                                            <button style="background:url({{ asset('bundles/aka/images/note50.gif') }}) no-repeat;" data-value="50" class="cashimgkeypad"></button>
                                                        </td>
                                                        <td>
                                                            <button style="background:url({{ asset('bundles/aka/images/note100.gif') }}) no-repeat;" data-value="100" class="cashimgkeypad"></button>
                                                        </td>
                                                        <td>
                                                            <button style="background:url({{ asset('bundles/aka/images/note200.gif') }}) no-repeat;" data-value="200" class="cashimgkeypad"></button>
                                                        </td>
                                                    </tr>
                                                </table>



                                            </td>
                                        </tr>
                                    </table>


                                </td>
                                <td>


                                    <table class="tableCenter" id="cashRightTable">
                                        <tr>
                                            <td>

                                                <table class="tableCenter" id="cashKeypadTable">
                                                    <tr>
                                                        <td><input type="button" id="cash_keypad_1" class="btn btn-default btn-md cashbtnkeypad shadow2" value="1"></td>
                                                        <td><input type="button" id="cash_keypad_2" class="btn btn-default btn-md cashbtnkeypad shadow2" value="2"></td>
                                                        <td><input type="button" id="cash_keypad_3" class="btn btn-default btn-md cashbtnkeypad shadow2" value="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="button" id="cash_keypad_4" class="btn btn-default btn-md cashbtnkeypad shadow2" value="4"></td>
                                                        <td><input type="button" id="cash_keypad_5" class="btn btn-default btn-md cashbtnkeypad shadow2" value="5"></td>
                                                        <td><input type="button" id="cash_keypad_6" class="btn btn-default btn-md cashbtnkeypad shadow2" value="6"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="button" id="cash_keypad_7" class="btn btn-default btn-md cashbtnkeypad shadow2" value="7"></td>
                                                        <td><input type="button" id="cash_keypad_8" class="btn btn-default btn-md cashbtnkeypad shadow2" value="8"></td>
                                                        <td><input type="button" id="cash_keypad_9" class="btn btn-default btn-md cashbtnkeypad shadow2" value="9"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="button" id="cash_keypad_c" class="btn btn-default btn-md cashbtnkeypad shadow2" value="C"></td>
                                                        <td><input type="button" id="cash_keypad_0" class="btn btn-default btn-md cashbtnkeypad shadow2" value="0"></td>
                                                        <td><input type="button" id="cash_keypad_p" class="btn btn-default btn-md cashbtnkeypad shadow2" value="."></td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" id="backToPaymentsOptions_button" class="btn btn-default normalbtn" onclick="backToPaymentsOptions()">Back</button>
                    <button type="button" id="cash_keypad_c" class="btn btn-default normalbtn" onclick="cashClearAll()">Reset</button>
                    <button type="button" class="btn btn-primary normalbtn" id="cashierFinished">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade nonScrollable" id="subMenuModal" tabindex="-1" role="dialog" aria-labelledby="subMenuModalModal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Admin Menu</h4>
                </div>
                <div class="modal-body nonScrollable">

                    <table class="tableCenter tableMaxSize">
                        <tr>
                            <td>

                                <table id="submenuTable" class="tableCenter">
                                    <tr>
                                        <td class="tdCenter">
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary normalbtn" id="sub_menu_Back_button"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;Back</button>
                </div>
            </div>
        </div>
    </div>








    <div class="modal fade nonScrollable" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body nonScrollable">

                    <table class="tableMaxSize">
                        <tr>
                            <td class="tdTop">

                                <table id="helpTable">
                                    <tr>
                                        <td class="tdCenter" colspan="2">
                                            Shows Symbols:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdRight">
                                            <span class="glyphicon glyphicon-user availableShowIcon"></span><span class="glyphicon glyphicon-user availableShowIcon"></span>
                                        </td>
                                        <td class="tdLeft">
                                            Available                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdRight">
                                            <span class="glyphicon glyphicon-ban-circle noAvailableShowIcon"></span>
                                        </td>
                                        <td class="tdLeft">
                                            No available ticket (Formula: Volume - Sold = 0)                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdRight">
                                            <span class="glyphicon glyphicon-remove-circle inactiveShowIcon"></span>
                                        </td>
                                        <td class="tdLeft">
                                            Inactive                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdRight">
                                            <span class="glyphicon glyphicon-star favoriteShowIcon"></span>
                                        </td>
                                        <td class="tdLeft">
                                            Preconfigured                                        </td>
                                    </tr>
                                </table>
                                <div></div>
                                <table id="helpTable" class="tableCenter">
                                    <tr>
                                        <td class="tdCenter" colspan="2">
                                            Hot Keys:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tdRight">
                                            Double Tap                                        </td>
                                        <td class="tdLeft">
                                            To show the full name of a Show, Contingent or Category.                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary normalbtn" data-dismiss="modal" aria-hidden="true" id="help_Back_button"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;Back</button>
                </div>
            </div>
        </div>
    </div>

    {#<div class="container">
        <button class="btn btn-success" data-toggle="modal" data-target="#messageModal">Test message</button>
        <button class="btn btn-success" data-toggle="modal" data-target="#enterCardNumberModal">Test card number</button>
        <button class="btn btn-success" data-toggle="modal" data-target="#enterConcessionCodeModal">Test concession code</button>
        <button class="btn btn-success" data-toggle="modal" data-target="#enterConcessionPasswordModal">Test concession password</button>
        <button class="btn btn-success" data-toggle="modal" data-target="#paymentsModal">Test payment</button>
        <button class="btn btn-success" data-toggle="modal" data-target="#helpModal">Test help</button>
        <button class="btn btn-success" data-toggle="modal" data-target="#subMenuModal">Test submenu</button>
    </div>#}

    <div id="windowMain">
        <div id="row0" class="notop"></div>
        <div id="row1" class="shadow3 notop"></div>
        <div id="row2"></div>
        <div id="row3" class="shadow4 nobottom"></div>
        <div id="row4" class="shadow4"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script type="text/javascript">
        const winHeight = window.innerHeight;
        const winWidth = window.innerWidth;
        document.getElementById('row0').setAttribute('style','width:'+winWidth+'px;height:'+winHeight*0.7/12+'px;');
        document.getElementById('row1').setAttribute('style','width:'+winWidth+'px;height:'+winHeight*0.7/12+'px;margin-top:'+winHeight*0.7/12+'px;');
        document.getElementById('row2').setAttribute('style','width:'+winWidth+'px;height:'+winHeight*7.3/12+'px;margin-top:'+winHeight*1.4/12+'px;');
        document.getElementById('row3').setAttribute('style','width:'+winWidth+'px;height:'+winHeight*2.5/12+'px;margin-top:'+winHeight*8.7/12+'px;');
        document.getElementById('row4').setAttribute('style','width:'+winWidth+'px;height:'+winHeight*0.8/12+'px;margin-top:'+winHeight*11.2/12+'px;');

        let event = "{{ event }}";
        let info = JSON.parse("{{ info|escape('js') }}");
        console.log(info);
    </script>
    <script type="text/babel" src="{{ asset('bundles/aka/js/main.react.js') }}"></script>
{% endblock %}